* {
  margin: 0;
  box-sizing: border-box;
  
}

p {
    margin-bottom: 1rem;
}

body {
  line-height: 1.5;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #06c;
}

h1 {
  text-align: center;
  font-family: serif;
}

.header img {
  padding-top: 2rem;
}

section {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem;
  width: 80%;
}



.photos {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  left: 50%;
}

.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-spacing: 10px;
  width: 100%;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 3px;
}

/* tr:nth-child(even) {
      background-color: #E3E4DB;
    } */
.accordion {
  background-color: inherit;
  color: #006580;
  cursor: pointer;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: none;
  text-decoration: underline;
}

.active,
.accordion:hover {
  background-color: none;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: inherit;
}

a {
  color: #006580;
}

a:link {
  text-decoration: none;
  border-bottom: 1px solid #003399;
}

a:hover {
  color: #365486;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
li {
  font-size: 0.9em;
  word-wrap: break-word;
}

header {
  margin-bottom: 4em;
  text-align: center;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  padding-left: 1.3em;
}
#TOC > ul {
  padding-left: 0;
}
#TOC a:not(:hover) {
  text-decoration: none;
}

span.smallcaps {
  font-variant: small-caps;
}
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
ul.task-list {
  list-style: none;
}

.table {
  overflow-x: scroll;
}

@media (max-width: 640px) {
  .row {
    overflow-x: scroll;
  }
  section {
    width: 95%;
}
}
@media (min-width: 1024px) {
  section {
    width: 952px;
  }
}